<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<!-- Default content goes here -->
<div id="carouselExampleCaptions" class="carousel slide w-100" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for slider in sliders %}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% else %}false{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for slider in sliders %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ slider.image.url }}" class="d-block w-100" alt="{{ slider.title }}" style="height: 300px;">

        <div class="carousel-caption" style="background-color:rgb(206, 206, 206); color:black; width:70%; height: auto; border-radius: 8px;">
            <h5 class="card-title " style="margin-top: 0px;">{{ slider.title }}</h5>
            <h6 class="card-text">{{ slider.description }}</h6>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class="scroll-container">
  {% for card_image in card_image %}
  <div class="card">
    <img src="{{ card_image.image.url }}" alt="{{ card_image.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ card_image.title }}</h5>
      <p class="card-text">This is some information about the image. You can add more details here.</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
