{% extends "base.html" %}

{% load static %}  <!-- Make sure this is included at the top -->

{% block title %}
Create Article
{% endblock %}

{% block extra_styles %}
    <!-- Link to the CSS file for the article app -->
    <link rel="stylesheet" href="{% static 'article/styles.css' %}">
{% endblock %}

{% block content %}
<!-- This is for the home article page -->
<div class="container mt-5">
    <div class="row">
        <div class="article_container">
            {% if last_article %}
                <h1>{{ last_article.title }}</h1>
                <div>{{ last_article.content|safe }}</div>
            {% else %}
                <p>No articles available.</p>
            {% endif %}
            <button><a href="{% url 'create_article' %}">Create Article</a></button>
            {% for article in articles %}
                <div class="card-container mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">{{ article.id }}</div>
                            <div class="col-md-2">
                                <div class="card summary_profile_image">PHOTO</div>
                                <!-- <img src="{{ article.image.url }}" alt="Article Image" class="img-fluid"> -->
                            </div>
                            <div class="col-md-9 error-border">
                                <a href="{% url 'article_view' id=article.id %}">
                                    <h3 class="card-title summary_title">{{ article.title }}</h3>
                                    <p class="card-text summary_text">{{ article.summary }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <!-- Link to the JavaScript file for the article app -->
    <script src="{% static 'article/script.js' %}"></script>
{% endblock %}
