{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-6 border rounded" style="box-shadow: rgb(10, 3, 3);">
            <!-- Payment Form Card -->
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-success" id="online_payment">Online Payment</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary" id="offline_payment">Offline Payment</button>
                        </div>
                    </div>
                </div>
                <!-- Online Payment Form -->
                <div class="online_payment_form" id="payment_online_form">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-between align-items-center border border-dark p-2">
                                <strong>{{ subject.faculty.faculty_name }} / {{ subject.level.level_name }} / {{ subject.subject_name }}
                                    ({{ total_videos }} Videos)</strong>
                                <button type="button" class="btn btn-secondary">Details</button>
                            </div>
                            <div class="col-12">
                                <div class=" card  align-items-end border border-dark p-2">
                                    <table class="table table-bordered">
                               
                                        <tbody>
                                            <tr>
                                                <td><strong>First Price</strong></td>
                                                <td>{{ price }}</td>
                                            </tr>
                                            <tr >
                                                <td ><strong>Discount</strong></td>
                                                <td style="background-color: rgba(62, 214, 62, 0.61);">{{ discount }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Service Charge</strong></td>
                                                <td>{{ psc }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Tax</strong></td>
                                                <td>{{ tax_amount }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: rgba(62, 214, 62, 0.61);"><strong>Total Amount</strong></td>
                                                <td style="background-color: rgba(62, 214, 62, 0.61);">{{ total_amount }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">                         
                                <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST" onsubmit="generateSignature()" target="_blank">
                                    <input type="hidden" id="amount" name="amount" value="{{amount}}" class="form" required=""> <br>
                                    <input type="hidden" id="tax_amount" name="tax_amount" value="{{tax_amount}}" class="form" required="">
                                    <input type="hidden" id="total_amount" name="total_amount" value="{{total_amount}}" class="form" required="">            
                                    <input type="hidden" id="transaction_uuid" name="transaction_uuid" value="{{uuid}}" class="form" required=""> 
                                    <input type="hidden" id="product_code" name="product_code" value="EPAYTEST" class="form" required=""> 
                                    <input type="hidden" id="product_service_charge" name="product_service_charge" value="{{psc}}" class="form" required=""> 
                                    <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="{{pdc}}" class="form" required=""> 
                                    <input type="hidden" id="success_url" name="success_url" value="http://127.0.0.1:8000/vip_section/esewa_success" class="form" required=""> 
                                    <input type="hidden" id="failure_url" name="failure_url" value="https://facebook.com" class="form" required=""> 
                                    <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" class="form" required=""> 
                                    <input type="hidden" id="signature" name="signature" value="{{signature}}" class="form" required=""> 
                                    <input type="hidden" id="secret" name="secret" value="8gBm/:&EnhH.1/q" class="form" required="">
                                    <button type="submit" class="rounded w-100 h-100">
                                        <img src="/media/images/esewa.png" alt="" class="img-fluid" style="width: 100%; height: 100px;">
                                    </button>                            
                                </form>                                 
                          </div>  
                          <div class="col-6">                         
                            <form action="{% url 'vip_section:khalti_payment' %}" method="POST">
                                    {%csrf_token%}
                                    <input type="text" name="purchase_order_id" value="{{uuid}}"  id="pid">
                                    <input type="text" name="amount" value="{{total_amount}}" id="amt">                                    
                                    <input type="text" name="return_url" value="http://127.0.0.1:8000/vip_section/khalti_success">
                                    <button type="submit" class="rounded w-100 h-100">
                                    <img src="/media/images/khalti.png" alt="" class="img-fluid" style="width: 100%; height: 100px;">
                                </button>                            
                            </form>                    
                      </div>          
                    </div>
                  </div>
                <!-- Offline Payment Form -->
                <div class="offline_payment_form" id="offline_payment_form">
                    <div class=" row card-body">
                        <img src="/media/images/qr_code.jpg" alt="QR Code" class="img-fluid" style="width: 100%; height: 200px;">
                    </div>
                    <div class=" card-footer hidden-center">
                        <div class="mt-2">
                            <b>
                                Account Number: 1234567890 | Rishiram Bhusal | ABC Bank
                            </b>
                        </div>
                    </div>
                    <div class="card">
                    <form action="{% url 'vip_section:offline_payment' %}" method="POST" enctype="multipart/form-data">

                        {%csrf_token%}
                        <div class="d-flex justify-content-between align-items-center p-3">
                        <div>
                            <strong>{{ subject.subject_name }} ({{ total_videos }} Videos)</strong>
                            <button type="button" class="btn btn-outline-secondary">Subject Details</button>
                        </div>
                        <div>
                            <strong>Price: ${{ subject.price }}</strong>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="card image_required">
                                    <label for="payment_proof" class="image-container" id="profileImageContainer">
                                        <img id="paymentImage_preview" alt="Profile Image Preview">
                                        <i class="fas fa-camera" id="fa-camera"></i>
                                        <input type="file" class="file-input" id="payment_proof" name="payment_proof" accept="image/*" required>
                                    </label>
                                    <div class="hidden-center fw-bold">Payment Proof Slip Photo</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card justify-content-center hidden-center bg-warning">
                                    <p>Offline payment requests will take some time to verify (e.g., 3-4 hours).</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <input type="hidden" name="total_amount" value="{{ total_amount }}">
                                <input type="hidden" name="subject_id" value="{{ subject.id }}">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text btn-secondary" id="phone">Phone no :</span>
                                    </div>
                                    <input type="text" class="form-control btn-outline-primary" id="phone" name="phone" aria-describedby="basic-addon3" required>    
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text btn-secondary" id="email ">Email :</span>
                                    </div>
                                    <input type="text" class="form-control btn-outline-primary" id="email " name="email" aria-describedby="basic-addon3" required>    
                                </div>
                        </div>
                        <div id="payment_slip_missing" class="card justify-content-center hidden-center bg-light" style="color: #ff0000; display: none;">
                            <h3>**Select payment voucher!</h3>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card-footer d-flex justify-content-end">
                                    <!-- Cancel and Submit Buttons -->
                                    <button type="button" class="btn btn-danger me-2" onclick="window.location.href='{{ redirect_url }}'">Cancel</button>
                                    <button type="submit" class="btn btn-secondary btn-outline-primary " id="submitBtn" style="color: white;">Make Payment</button>
                                </div>
                            </div>
                        </div>
                     </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #ccc;
        height: 120px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .image-container:hover {
        border: 1px solid rgb(35, 63, 207);
        background-color: #ccc;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
    }

    .image-container i {
        font-size: 24px;
        color: #000000;
        position: absolute;
    }

    .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    /* Error border style */
    .error-border {
        border: 3px solid red !important;
    }

    .offline_payment_form {
        display: none;
    }
</style>

<script>
    document.getElementById("online_payment").addEventListener("click", function() {
        document.getElementById("payment_online_form").style.display = "block";
        document.getElementById("offline_payment_form").style.display = "none";
    });

    document.getElementById("offline_payment").addEventListener("click", function() {
        document.getElementById("payment_online_form").style.display = "none";
        document.getElementById("offline_payment_form").style.display = "block";
    });

    document.getElementById("payment_proof").addEventListener("change", function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function(e) {
            var img = document.getElementById("paymentImage_preview");
            img.src = e.target.result;
            img.style.display = "block";
        };

        reader.readAsDataURL(file);
    });

    document.getElementById("submitBtn").addEventListener("click", function() {
        var fileInput = document.getElementById("payment_proof");
        if (!fileInput.files.length) {
            document.getElementById("payment_slip_missing").style.display = "block";
        } else {
            document.getElementById("payment_slip_missing").style.display = "none";
            // Submit form or perform the next action
        }
    });


    function generateSignature() {
        var total_amount = document.getElementById("total_amount").value;
        var transaction_uuid = document.getElementById("transaction_uuid").value;
        var product_code = document.getElementById("product_code").value;
        var secret = "8gBm/:&EnhH.1/q";

        var hash = CryptoJS.HmacSHA256(
            `total_amount=${total_amount},transaction_uuid=${transaction_uuid},product_code=${product_code}`,
            `${secret}`);
        var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
        document.getElementById("signature").value = hashInBase64;
    }

    // Event listeners to call generateSignature() when inputs are changed
    document.getElementById("total_amount").addEventListener("input", generateSignature);
    document.getElementById("transaction_uuid").addEventListener("input", generateSignature);
    document.getElementById("product_code").addEventListener("input", generateSignature);
    document.getElementById("secret").addEventListener("input", generateSignature);

</script>

{% endblock %}
