{% extends "base.html" %}
{% block title %}Article List{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="article_container">
            {% if last_article %}
            <h1>{{ last_article.title }}</h1>
                    <div>{{ last_article.content|safe }}</div>
                    </div>
            {% else %}
                <p>No articles available.</p>
            {% endif %}
        <button> <a href="/article_create  ">create_article</a></button>
        {% for article in articles %}
        <!-- <div class="col-md-4 mb-4"> -->
            <div class=" card-container mt-3">
                <div class="card-body ">
                    <div class="row"> <div class="col-md-1">{{ article.id }}</div>
                        <div class="col-md-2 ">
                            <div class="card summary_profile_image"> PHOTO</div>
                            <!-- <img src="{{ article.image.url }}" alt="Article Image" class="img-fluid"> -->
                        </div>
                        <div class="col-md-9 error-border ">
                            <a href="{% url 'article_view' id=article.id %}">
 
                            <h7 class="card-title summary_title ">{{ article.title }}</h7>
                            <p class="card-text summary_text">{{ article.summary }}</p>
                        </a>

                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        {% endfor %}
    </div>
</div>



</head>
<body>


{% endblock %}
